.group {
  /* ... */
  will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
  animation: scrolling 20s linear infinite;
}

.carousel {
  &:hover .group {
    animation-play-state: paused;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
